body{
    font-family: 'Montserrat', sans-serif;
}

#titulo{
    background-color: #dbb49d;
    color: #fff;

 }
 
 #tema{

    padding: 100px;
 }

 #caracteristicas{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
}

#precios {
    padding: 100px;
    text-align: center;
   }

#prensa{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
   }

   #cta{
    background-color: #a37d67;
    color: #fff;
    padding: 7% 15%;
    text-align: center;
   }

   #footer {
    padding: 7% 15%;
    text-align: center;
   }

   .encabezado-cta{
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
   }

.precio-col {
    padding: 3% 5%;
}

.caja-caracteristicas{
    text-align: center;
    font-family: 'Montserrat';
    padding: 5%;
   }

   .social-icon {
    margin: 20px 10px;
   }

   .precios-col {
    padding: 3% 2%;
   }

   @media (max-width: 1028px) {
    #titulo{
    text-align: center;
    }
   

 h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}
h2 {
    font-family: 'Montserrat';
    font-size: 3.0rem;
    font-weight: 900;
    line-height: 1.5;
}
h3{
    font-size: 1.5rem;
    font-weight: bold;
}
.icon {
    color: #ef8172;
    margin: 1rem;
}
.icon:hover {
    color: #ff4c68;
   }
#testimonios {
    padding: 7% 15%;
    text-align: center;
    background-color: #a37d67;
    color: #fff;
}
.img-testimonio{
    width: 80%;
    border-radius: 100%;
    margin: 20px;
   }
.carousel-item {
    padding: 15% 15%;
}

.logo-prensa {
    width: 15%;
    margin: 20px 20px 50px;
   }
p {
    color: #8f8f8f;
}
.container-fluid{
    padding: 3% 15%;
}

.navbar-brand{
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    font-size: 5.5rem;
    font-weight: bold;
    text-align: center;
}

.navbar {
    padding: 0 0 4.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

.download-button {
    margin: 5% 3% 5% 0;
}

.title-image{
    width: 80%;
    right: 30%;

}